/* Avatar color palette */
.flesh { fill: #ffe7bd }
.flesh2 { fill: #f7cf88 }
.flesh3 { fill: #ffdebd }
.hair { fill: #803300 }
.hair2 { fill: #383837 }
.eye { fill: #d8d5ff }

.p1 { fill: #006eb3 }
.p2 { fill: #008de6 }
.p3 { fill: #00b39e }
.p4 { fill: #00e6cb }

/* Website styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 20%;
  text-align: center;
  margin: 0 0 20px 0;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#parts {
  display: flex;
}

#avatar {
  display: flex;
}

#colors {
  display: flex;
  flex-direction: column;
}

/*
@media screen and (max-width: 1200px) {
    #avatar, #colors {
        width: 33%;
    }
}
*/

.download {
    padding: 5px 20px;
}

.spinner, .spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #000000;
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}