/* Mobile styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
}

header {
  width: 100%;
}

header h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3em;
  text-align: left;
  margin: 0 0;
}

header h2 {
  font-size: 2em;
  text-align: right;
  color:rgba(0,0,0, 0.5);
  margin: 0 0;
}

footer {
  text-align: center;
}

footer img {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

footer p {
  display: block;
  margin: 0 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}

#avatar {
  width: 100%;
}

#avatar svg {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  text-align: center;
}

#partname {
  width: 50%;
}

#colorform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#buttons button {
  margin-top: 10px;
}

#buttons a {
  padding: 20px 20px;
  text-align: center;
}

.btn {
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.2);

}

.btn:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Animated loading spinner */

@keyframes spin {
  to {
    stroke-dashoffset: 125;
  }
}

.spinner circle {
  fill: none;
  stroke: slategray;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 62;
  stroke-dashoffset: 0;
  animation: spin 1s infinite linear;
}

/* CSS navigation arrows */

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.2);
  cursor: pointer;
}

.arrow.right {
  background: url("media/chevron-right.svg") center no-repeat;
}

.arrow.left {
  background: url("media/chevron-left.svg") center no-repeat;
}

.arrow:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.arrow:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.arrow:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}


@media only screen and (min-width: 600px) {
  header, .controls, #avatar {
    width: 50%;
  }
  
  #colorform {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  header, .controls, #avatar {
    width: 30%;
  }

  #colorform {
    width: 30%;
  }
}